*{
    color:black;
}
h1{
    color:white;
    margin:0 0px 0 330px;
}
.formulario {
    margin:35px 0 0 300px;
    display:flex;
    flex-direction:column;
    align-items:center;
    width:637px;
    height:690px;
    background-color:#FFF;
    border-radius:20px; 

} 

.titulo {
    font-weight:500; 
    font-size: 2.5em;
    margin: 65px 0 35px -240px;
   
}
.subtitulo {
    font-size:1.5em;
    margin:0 0 10px -320px;
    
}

.campo {
    width:400px;
    height:40px;
    background-color:white;
    border: 0.5px solid #CACACA;
    border-radius:20px;
    margin:0 0 30px 0 ;
    font-size:1.2rem;
    padding:25px;
    font-weight:bold;
}

.button{
    display:flex;
    align-items:center;
    justify-content:center;
    width:400px;
    height:40px;
    background: rgb(255,174,0);
    background: linear-gradient(90deg, rgba(255,174,0,1) 1%, rgba(255,76,0,1) 100%);
    border-radius:20px;
    padding:25px;
}
.texto__button{
    text-decoration:none;
    font-size:2em;
    color: white;
}

.text__contacts{
    margin-top:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.2em;
   
}

